.recipe-in-progress-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.recipe-in-progress-image {
  width: 100vw;
}

.recipe-in-progress-name {
  align-items: center;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.322);
  display: flex;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  height: 6vh;
  width: 100vw;
}

.favorite-and-share-btn-container {
  display: flex;
  margin: 10px;
}

.favorite-btn {
  background: none;
  border: none;
}

.d-block {
  width: 50%;
}

.recipe-in-progress-category {
  align-items: center;
  background-color: rgb(15, 163, 107);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.322);
  border-radius: 3rem;
  display: flex;
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  height: 4vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul {
  overflow-y: auto;
  height: auto;
  max-height: 70vh;
}

/* https://www.w3schools.com/howto/howto_js_todolist.asp */
ul li {
  align-items: center;
  font-family: cursive;
  background: rgb(216, 216, 216);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.322);
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  list-style-type: none;
  margin-top: 0.5rem;
  padding: 1rem;
  position: relative;
  transition: 0.2s;
  user-select: none;
  width: 90vw;
}

ul li input {
  margin-right: 0.5rem;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child( odd ) {
  background: #e6e6e6;
}

/* Darker background-color on hover */
ul li:hover {
  background: rgba(150, 150, 150, 0.705);
}

/* When clicked on, add a background color and strike out text */
ul li .is-checked {
  /* background: grey; */
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
/* ul li .is-checked:before {
  border-color: green;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  height: 15px;
  left: 16px;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  width: 7px;
} */

.recipe-in-progress-instructions {
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 1.2em;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: cursive;
  text-align: justify;
  padding: 10px;
}

.recipe-in-progress-instructions div {
  overflow-y: auto;
  height: auto;
  max-height: 70vh;
}

.finish-recipe-btn {
  background-color: rgba(15, 163, 107, 0.7);
  border: none;
  border-radius: 3rem;
  font-size: 1em;
  height: 55px;
  width: 40vw;
}

.ingredients-checklist {
  text-align: center;
  font-family: cursive;
}

.ingredients-checklist ul {
  padding-inline-start: 0;
}
