.recipe-details-container {
  align-items: center;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.recipe-details-image {
  width: 100vw;
}

.recipe-details-name {
  align-items: center;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.322);
  display: flex;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  height: 6vh;
  width: 100vw;
}

.recipe-details-name div {
  align-items: center;
  background-color: rgb(15, 163, 107);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.322);
  border-radius: 3rem;
  display: flex;
  color: white;
  font-size: 0.65em;
  position: absolute;
  top: 50%;
  height: 4vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.favorite-and-share-btn-container {
  display: flex;
}

.favorite-btn {
  position: absolute;
  left: 70vw;
  top: 6vh;
  background: none;
  border: none;
}

.favorite-btn img {
  height: 15vw;
}

.favorite-btn:focus {
  outline: none;
}

.d-block {
  width: 50%;
}

.recipe-in-progress-category {
  margin-top: 10px;
}

.ingredients-list {
  font-family: cursive;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100vw;
}

.ingredients-list ul {
  padding-inline-start: 0;
  overflow-y: auto;
  height: auto;
  max-height: 70vh;
}

.recipe-details-instructions {
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 1.2em;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: cursive;
  text-align: justify;
  padding: 10px;
}

.recipe-details-instructions div {
  overflow-y: auto;
  height: auto;
  max-height: 70vh;
}

.recipe-details-video {
  border: none;
  height: 25vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.carousels-container {
  display: flex;
  justify-content: center;
}

.start-recipe-btn {
  background-color: rgba(15, 163, 107, 0.7);
  border: none;
  border-radius: 3rem;
  bottom: 2vh;
  left: 30vw;
  font-size: 1.2em;
  height: 55px;
  position: fixed;
  width: 40vw;
}

.recommendations-container {
  align-items: center;
  display: flex;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
