.login-container {
  align-items: center;
<<<<<<< HEAD
  background-image: 
    linear-gradient(
    -135deg,
    rgba(81,201,105,0.06) 50%,
    rgba(121,14,14,0.2)
  ),
    url('/bgImage/8.jpg');
  background-size: cover;
  background-position: center;
=======
  background-size: cover;
>>>>>>> f8e85995fd53af4499bbc035c0595f3e72f4a622
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.logo-container {
  justify-content: center;
  opacity: 0.8;
  width: 50vw;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

.login-pass-container {
  display: flex;
}

.login-input-email {
  align-items: center;
  border: none;
  border-radius: 2rem;
  display: flex;
  font-size: 1em;
  height: 6vh;
  justify-content: center;
  margin-top: 1vh;
  text-align: center;
  width: 90%;
}

.login-input-pass {
  align-items: center;
  border: none;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  font-size: 1em;
  height: 6vh;
  justify-content: center;
  margin-top: 1vh;
  text-align: center;
  width: 70%;
}

.login-input-email:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  outline: none;
}

.login-input-pass:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  outline: none;
}

.login-btn {
  background: white;
  border: none;
  border-radius: 0 2rem 2rem 0;
  font-size: 1em;
  font-weight: 600;
  height: 85%;
  margin-top: 1vh;
  width: 30%;
}

.login-btn:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  outline: none;
}
