/*
https://pt.stackoverflow.com/questions/288878/
como-dispor-imagens-uma-ao-lado-da-outra-com-t%C3%ADtulos-abaixo-em-css
*/

.holder-food {
  display: inline-block;
  justify-content: center;
}

.image-food {
  margin: 10px;
  position: relative;
  text-align: center;
  width: 200px;
}

.image-food:after {
  bottom: -20px;
  content: attr(data-title); /* estilo que coloco a legenda no lugar */
  left: 0;
  position: absolute;
  width: 100%;
}

.see-more {
  margin-bottom: 100px;
  margin-top: 30px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

/*
https://www.visualdicas.com.br/programacao/css/
12-criando-botoes-personalizados-css
*/
.see-more {
  background: linear-gradient(to bottom, black 5%, grey 100%);
  border: 1px solid lightslategray;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 6px 10px;
} 

.see-more:hover {
  background: linear-gradient(to bottom, grey 5%, black 100%);
}

.see-more:active {
  position: relative;
  top: 2px;
}

h4 {
  text-align: center;
}
