/* 
https://qastack.com.br/programming/2603700/
how-to-align-3-divs-left-center-right-inside-another-div
*/

.container-header {
  background-color: lightgrey ! important;
  border: none ! important;
  color: black;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-around;
  margin-top: 0;
}

.color-btn-header {
  background-color: lightgrey ! important;
  border: none ! important;
}

.left-header {
  background-color: lightgrey ! important;
  border: none ! important;
  margin-top: 0;
}

.center-header {
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
}

.right-header {
  background-color: lightgrey ! important;
  border: none ! important;
  margin-top: 50px;
}
