.containerTribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.headerTribute {
  background-color: rgb(72, 121, 121);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  justify-content: space-around;
}

.headerTribute img {
  padding: 20px;
  width: 20;
  height: 30px;
}

.headerTribute > h1 {
  border-color: blueviolet;
  padding: 20px;
}

.containerVideo {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
}

.texto {
  border: 2px solid red;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Recomendations */
.recomendation {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.cardFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 300px;
  height: 300px;
}

.cardDrink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid yellow;
  width: 300px;
  height: 300px;
}
