.explore-area-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 640px;
}

.explore-area-content {
  font-weight: 600;
  justify-content: center;
  margin-top: 80px;
}

.explore-area-content select {
  border-radius: 15px;
  border: 1px solid rgb(247, 131, 36);
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: auto;
  padding: 8px 10px;
}

.explore-dropdown {
  width: 200px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  padding: 0 0 60px 0;
}

