.recipe-card {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 0 0 5px;
  text-align: center;
  width: 260px;
}

.recipe-card img {
  border-radius: 5px;
  display: flex-start;
  height: 260px;
  margin: 0;
  width: 260px;
}
