.heads {
  align-items: flex-start;
  background-color: #e6a748;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 0;
}

.heads h2 {
  font-size: 40px;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
}

.srch-bar {
  background-color: white;
  margin: 10px auto;
  text-align: center;
}

.srch-bar label + label {
  align-items: center;
  padding-left: 12px;
}

.options input {
  margin: 5px;
}

.srch-bar .inpt-text {
  margin: 10px 20px;
}

.srch-bar .srch-feats {
  align-items: center;
  display: flex;
  justify-content: center;
}

.srch-bar .srch-feats input {
  padding: 4px 18px;
}

.buttons-category {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.buttons-category button + button {
  margin-left: 5px;
}

.srch-bar .srch-feats button, .categories-button {
  background-color: #16757b;
  border: none;
  border-radius: 4px;
  color: #dbb786;
}

.srch-bar .srch-feats button {
  font-size: 18px;
  padding: 4px 12px;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}

.srch-card {
  background-color: #fdc4ae;
  border-radius: 10px;
  margin: 20px;
  margin-left: 28px;
  padding: 8px;
  text-align: flex-start;
}

.srch-card h3 {
  color: #15757a;
  margin-bottom: 0;
  max-width: 120px;
}

.srch-card img {
  border-radius: 10px;
  width: 120px;
}
