.get-btn {
  background: white;
  border: none;
  border-radius: 2rem;
  font-size: 1.2em;
  height: 2rem;
  margin: 0.3rem;
  width: auto;
}

.get-btn:focus {
  background: rgba(226, 226, 226, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  outline: none;
}
