.ingredients {
  margin-left: 50px;
}

.instructions {
  margin-left: 50px;
  margin-right: 50px;
}

.video {
  display: flex;
  margin: 0 auto;
  width: 500px;
}

.holder {
  display: inline-block;
  justify-content: center;
}
.image-carousel {
  width: 200px;
  margin: 10px;
  position: relative;
  text-align: center;
}
.image-carousel::after {
  content: attr(data-title); /* estilo que coloco a legenda no lugar */
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
}
