.card-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
}

.card {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.ingredient-card {
 align-items: center;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
