.header-container {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 2%;
  width: 100vw;
}

.header-info-display {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 8vh;
  width: 60%;
}

.header-btn {
  background: none;
  border: none;
}

.header-btn:focus {
  outline: none;
}

.header-search-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 60vw;
}

.header-search-icon {
  transition: 5s;
}
