.content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 1rem;
}

.explore-btn {
  border-radius: 4px;
  box-shadow: -1px 2px 4px 0 black;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.explore-btn:first-of-type {
  margin-bottom: 1rem;
}

.explore-btn:hover {
  text-decoration: none;
}

.explore-btn + .explore-btn {
  margin-bottom: 1rem;
}
