.footer {
  align-items: center;
  align-self: auto;
  background-color: #2B2D42;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 12%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  width: 100%;
}

.footer .footer-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer button {  
  border-style: none;
  background-color: #2B2D42;
  height: 41px;
  width: 41px;
}

.footer button:focus {
  outline: none;
}

.footer p {
  color: white;
  font-size: 12px;
  margin-top: .2rem;
}
/*
.rocksGlass {
  /* animation: shake 1s infinite ease; 
  max-height: 80vh; 
}
/*
@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}
*/