.headerContainer {
  align-items: center;
  background-color: #f80;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

.headerButton {
  background: white;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
}

header {
  width: 100vw;
}
