.svg-container {
  width: 100%;
  border-radius: 50%;
}

.background {
  fill: #054;
}

.spoon {
  fill: #f2f2f2;
}

.text {
  fill: #c83737;
}

.animated {
  animation: appearEffect 1s ease-in;
}

@keyframes appearEffect {
  0% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}
