.card-name {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 2em;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-family: 'Lobster', cursive;
  width: 100%;
}

.card-img {
  object-fit: cover;
  width: 100%;
}

.card-img:last-child {
  height: 25vh;
  margin-bottom: 1vh;
  width: 100%;
}
