.cards-container {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px rgba(178, 179, 182, 1);
  display: flex;
  margin: 1vh;
  padding: 1vh;
  width: 85vw;
}

.cards-name-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards-name {
  font-size: 2em;
}

.cards-img {
  border-radius: 1rem;
  width: 40%;
}
