.recipe-card {
  background-color: rgb(240,240,240);
  border-radius: 20px;
  height: 250px;
  margin: 10px;
  position: relative;
  width: 250px;
}

.recipe-card .recipe-name {
  bottom: 10px;
  color: rgb(240,240,240);
  font-size: x-large;
  font-weight: 900;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  /* -webkit-text-stroke: 1px rgb(40, 40, 40); */
  text-shadow: 3px 2px 3px black;
  z-index: 0;
}

.recipe-thumb {
  border-radius: inherit;
}