.explore-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.explore-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}

.explore-button {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  height: 100px;
  margin-bottom: 10px;
  width: 100%;
}

.explore-button:hover {
  cursor: pointer;
}
