body {
  padding: 0px ;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginBox {
  background-image: url(../../images/imagemLogo.png);
  object-fit: contain;
  display: flex;
  background-color: rgb(53, 41, 41);
  margin: 1vw;
  opacity: 0.7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 300px;
  box-shadow: 10px 10px 9px #888888;
}
.loginBox label {
  color:white;
  display: flex;
  flex-direction: column;
}


.loginBox button {
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button[class*="btn"]:disabled {
  border-color: black;
  color: black
}

@media screen and (max-width: 360px) {
  .loginBox {
    display: flex;
    background-color: rgb(53, 41, 41);
    min-width: 300px;
    margin: 1vw;
    opacity: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 300px;
  }
}
