.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 15px 30px;
}

.card__container .card {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 128px;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

.card > header > img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}

.card > main {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  width: 100%;
}

.card > main > p {
  margin: 5px 0;
}
