.search__form {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 10px;
}

.search__block__group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.search__input {
  height: 32px;
  width: 100%;
}

.search__input--radio {
  margin-right: 5px;
}

.search__button {
  background: #007bff;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  height: 32px;
  margin-bottom: 5px;
  width: 100%;
}
