.header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(89, 134, 202, 0.125);
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
}

<<<<<<< HEAD
.b-search{
  background-color: #ffffff;
  border-radius: 50px;
=======
.b-search {
  background-color: white;
>>>>>>> main-group-23
  border: none;
  border-radius: 50px;
}
