.header {
  align-items: center;
  border-bottom: 1px solid rgba(89, 134, 202, 0.125);
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  background-color: white;
}

.b-search{
  background-color: white;
  border-radius: 50px;
  border: none;
}