.header-container {
  align-items: center;
  background-color: rgb(196, 196, 196);
  /* top: 0; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* position: fixed; */
  width: 100vw;
}

.header-button {
  background-color: rgb(196, 196, 196);
  border: none;
  outline: none;
}

.header-button:hover {
  cursor: pointer;
}

.header-right {
  width: 30px;
}
