nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
}

nav > p {
  margin: 0;
}

header {
  background-color: rgb(108, 159, 218);
}
