.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-recipe-btn {
  background-color: blue;
  bottom: 0;
  color: white;
  font-size: 20px;
  padding: 4px 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100vw;
}

.recommended-img {
  width: 100px;
}

.slider {
  height: auto;
  margin: 0 auto;
  padding-bottom: 12vh;
  width: 100%;
}

.slide-img {
  width: 180px;
}

.recipe-thumbnail {
  width: 100vw;
}

.ala {
  margin: 0 8px;
}

.text-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
  margin: 25px auto;
  padding: 4vh 5vh;
  width: 80vw;
}

.ingredient-list {
  font-weight: bold;
  list-style-type: none;
}

.instructions {
  font-weight: 600;
}

.video {
  margin: 0 auto;
}

.list-title {
  font-size: 1.2em;
}
