body {
  background-color: rgba(175, 120, 76, 0.418);
  font-family: Ubuntu , sans-serif;
}

.main {
  background-color: #f7dfb3;
  border-radius: 1.5em;
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
  height: 400px;
  margin: 7em auto;
  opacity: 1;
  width: 310px;
}

.sign {
  color: #8d6243;
  font-family: Ubuntu , sans-serif;
  font-size: 23px;
  font-weight: 500;
  padding-top: 40px;
}

.un {
  background: rgba(136, 126, 126, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(38, 50, 56);
  font-family: Ubuntu , sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-left: 46px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  width: 76%;
}

.form1 {
  padding-top: 40px;
}

.pass {
  background: rgba(136, 126, 126, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(38, 50, 56);
  font-family: Ubuntu , sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-left: 46px;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  width: 76%;
}

.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.submit {
  background: linear-gradient(to right, #c97f3e, #a36d3e);
  border: 0;
  border-radius: 5em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  color: white;
  cursor: pointer;
  font-family: Ubuntu , sans-serif;
  font-size: 13px;
  margin-left: 35%;
  padding: 10px 40px;
}

a {
  color: #e1bee7;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
}

@media screen and ( max-width : 600px ) {

  .main {
    border-radius: 0;
  }
}
