.recipes {
    display: flex;
    flex-wrap:wrap;
    padding: 3px;
}

.cards-recipes {
    padding: 3px;
    text-decoration: none;
    color:black;
    text-align: center;
    width: 163px;
    
}

.imgs-cards {
    width: 163px;
}

.input-search{
    width: 200px;
    border-color: #1890ff;
    border-radius: 20px;
}




