.footer {
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.cardFood {
  display: flex;
  flex-basis: 30%;
  flex-flow: row;
  height: 172px;
  left: 187px;
  top: 171px;
  width: 161px;
}
