.footer {
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.header {
  height: 60px;
  top: 0;
  width: 100%;
}

.categorys {
  display: inline-block;
  height: 60px;
}

.card {
  align-items: center;
  width: 10rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.checked {
  text-decoration-line: line-through;
}
