.drinkIcon {
  height: 40px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 40px;

  /* background: url(cocktail.png); */
}

.exploreIcon {
  height: 40px;
  left: 160px;
  position: absolute;
  top: 10px;
  width: 40px;
}

.mealIcon {
  height: 40px;
  left: 302px;
  position: absolute;
  top: 10px;
  width: 40px;
}

.footer {
  background: #c4c4c4;
  bottom: 0px;
  height: 58px;
  left: 0px;
  position: fixed;
  width: 360px;
}
