.footer {
  align-items: center;
  background: #C4C4C4;
  bottom: 0px;
  display: flex;
  height: 58px;
  justify-content: space-around;
  left: 0px;
  position: fixed;
  top: 467px;
  width: 100%;
}

.drinks__btn {
  background-image: url('../images/drinkIcon.svg');
  height: 40px;
  width: 40px;
}

.explore__btn {
  background-image: url('../images/exploreIcon.svg');
  height: 40px;
  width: 40px;
}

.food__btn {
  background-image: url('../images/mealIcon.svg');
  height: 40px;
  width: 40px;
}
