*, h1 {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: #C4C4C4 
}

.profile, .search {
  align-self: center;  
}

.title {
  justify-self: center;
}

.profile {
  padding-left: 1rem;
  justify-self: left;
}

.search {
  justify-self: right;
  padding-right: 1rem;
}
