@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap') ;

.header {
  position: relative;
  height: 58px;
  width: 360px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.profile-button {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 15px;
  top: 12px;
}

.search-button {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 317px;
  top: 12px;
}

.title-header {
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  color: black;
  position: relative;
}