@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: url(../../images/mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

.main-section {
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}

.modal-content {
  background-color: #3b4652;
  padding: 0 18px;
  opacity: .95;
  box-shadow: 0 0 3px #848484;
}

.logo-img {
  margin-top: -50px;
  margin-bottom: 35px;
}

.logo-img img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 2px #3b4652;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input {
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
}

button {
  width: 40%;
  margin: 5px 0 25px;
}

.btn {
  border-bottom: 4px solid #219882;
  background-color: #27c2a5;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 19px;
  padding: 7px 14px;
}

.btn:hover, .btn:focus {
  background-color: #25a890;
  border-bottom: 4px solid  #25a890;
  color: white;
}

.forgot {
  padding: 5px 0 25px;
}

.forgot a {
  color: #c2fbfe;
}