.main-drink {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.cards-container-drink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  padding: 0 0 60px 0;
}
