.footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.top-footer {
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-buttons {
  display: flex;
}
