.footer-container {
  background: #c4c4c4;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 46px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}
