.header {
    display: flex;
    flex-direction: row;
}

.header-container {
    border: 1px  solid black;
    display: flex;
}


.header-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 40em;
}
