.background-image {
  background-image: url("../images/food.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  min-height: 640px;
}

.input-group {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 2.5em;
}

.login-container {
  background-color: white;
  color: rgb(67, 64, 57);
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.logo-image {
  height: 32px;
  width: 32px;
}

.title-container {
  background: rgb(242, 103, 62);
  border-bottom: none;
  color: white;
  display: flex;
  font-size: 26px;
  font-weight: 800;
  justify-content: space-around;
  padding: 0.5em;
}
