.background {
  background-image: url('../images/joshua-newton-7qjqQjt7zXQ-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main-container {
  left: 50%;
  margin: 0;
  margin-right: -50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.input-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
}

.description-login {
  align-items: center;
  color: rgb(228, 228, 211);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-title {
  color: rgb(228, 228, 211);
  font-family: Georgia , Times New Roman , Times , serif;
  font-style: inherit;
}

/* .title-login {
  margin-left: 50px;
} */

.main-input {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.300);
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  padding-top: 30px;
  width: 350px;
}

.input-email {
  border-radius: 5px;
  width: 300px;
}

.input-senha {
  border-radius: 5px;
  width: 300px;
}

.input-button {
  border-radius: 5px;
  width: 200px;
}
