.main-container {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.input-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.description-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-title {
  color: rgb(5, 44, 5);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: inherit;
}

/* .title-login {
  margin-left: 50px;
} */

.main-input {
  align-self: center;
  padding-top: 30px;
  background-color: rgba(33, 211, 224, 0.068);
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  width: 350px;
}

.input-email {
  border-radius: 5px;
  width: 300px;
}

.input-senha {
  border-radius: 5px;
  width: 300px;
}

.input-button {
  border-radius: 5px;
  width: 200px;
}
