.header-food-container {
  align-items: baseline;
  background: rgb(242, 103, 62);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.header-food-container img {
  cursor: pointer;
}

.filter-radio-buttons-container {
  padding: 20px;
}

.filter-radio-buttons-container label {
  margin: 0 10px;
}

.filter-radio-buttons-container button {
  background: rgb(242, 103, 62);
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 10px;
}

.search-food-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.search-food-input {
  background-color: whitesmoke;
  padding: 10px;
  width: 90vw;
}

.category-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.category-button-container button {
  background: rgb(242, 103, 62);
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 10px;
}

.main-recipes-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-bottom: 50px;
  margin: auto;
}

.recipes-categories {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 4vw auto;
  text-align: center;
  width: 40vw;
}

.recipes-categories img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.recipes-categories h1 {
  width: 100%;
  color: black;
  font-size: 2rem;
}
