.footer {
  align-items: center;
  background-color: white;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
  padding: 10px 0;
}
