.footer-container {
  background-color: rgb(196, 196, 196);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100vw;
}
