.carousel {
  height: 80vh;
  margin: auto;
  width: 420px;
}

.carousel-card {
  align-items: center;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel-card div {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: flex-end;
  scroll-snap-align: start;
  width: 50%;
}

.cards img {
  display: block;
  width: 200px;
}
