.explore-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.explore-buttons button {
  background-color: #15757a;
  border: none;
  border-radius: 4px;
  color: #dbb786;
  font-size: 30px;
  margin: 10px;
  padding: 4px 30px;
}

.explore-buttons button + button {
  padding: 4px 33px;
}

.explore-buttons button:first-child {
  margin-top: 50px;
}

.explore-buttons .first-food-explore {
  padding: 4px 50px;
}

.explore-buttons .second-food-explore {
  padding: 4px 31px;
}

.explore-buttons .third-food-explore {
  padding: 4px 55px;
}

.explore-buttons .logout-food-explore {
  background-color: #e6a73e;
  color: #15757a;
  padding: 4px 118px;
}

.profile-email {
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
