.footer-container {
  background-color: #f8f9fa;
  border-top: 3px dashed #1D3B76;
  bottom: 0;
  position: fixed;
  margin-top: 10px;
  width: 100%;
}

.footer-context {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.footer-img {
  height: 42px;
  width: 42px;
}

button {
  background-color: #f8f9fa;
  box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
  border:none!important;
}