@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600;800&family=Noto+Sans:wght@400;700&display=swap');

body {
  background-image: url('https://image.freepik.com/vetores-gratis/elementos-alimentares-desenhados-a-mao_1411-48.jpg');
  background-position: top;
  background-size: 1000px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 240px;
  min-height: 140px;
  margin: 5px;
  left: 17px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.form-button {
height: 50px;
margin-top: 10px;
background: #D60000;
border-radius: 50px;
border: none;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
padding: 0 15px;
font-family: 'Baloo Thambi 2', cursive;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 37px;
color: #FFFFFF;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.form-title {
height: 55px;
top: 287px;
margin: 0;
font-family: 'Baloo Thambi 2', cursive;
font-style: bold;
font-weight: bold;
font-size: 36px;
line-height: 55px;

color: #D60000;
}

.form-subtitle {
height: 25px;
left: 104px;
top: 329px;
margin: 0;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #696976;

}

.form-info {
width: 269px;
height: 50px;
left: 52px;
top: 370px;
margin: 0;
margin-top: 10px;
margin-bottom: 10px;

font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #696976;
}

.form-input {
width: 212px;
height: 30px;
left: 80px;
top: 436px;
margin: 5px;
background: rgba(204, 204, 204, 0.69);
border-radius: 8px;
border: none;
}

.img-login {
height: 250px;
filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 50%;
margin-bottom: 5px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;

}

.item-card h3 {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color:#494949;
  margin:0;
}
.item-card a {
  text-decoration: none;
}
.item-card img {
  width: 130px;
}
.card-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 60px;
}
.details-img-main {
 width: 307px;
 margin:10px auto;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.detalhes-main {
  margin: 10px auto;
  width: 341px;
  background: rgba(255, 252, 252, 0.85);
  border-radius: 8px;
}
.detalhes-title {
font-family: 'Baloo Thambi 2', cursive;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 55px;
margin:0 10px;
color: #3C3C3C;
text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.detalhes-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0  8px;
}
.details h5 {
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #3C3C3C;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
margin: 0;
}
.details p {
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
margin: 5px 10px;
color: #3C3C3C;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.details li {
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #3C3C3C;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
.horizontal-name {
  font-family: 'Baloo Thambi 2', cursive;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 55px;
display: flex;
align-items: flex-end;
text-decoration: none;
margin:0 10px;
color: #3C3C3C;
text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  top: 580px;
  position: fixed;
  background: #D60000;
  box-shadow: -2px -2px 4px 2px rgba(0, 0, 0, 0.25);
}
.main-header {
  top: 0;
  position: fixed;
  background: #D60000;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
  padding: 5px;
  z-index: 999;
}
.header {
display: flex;
align-items: center;
justify-content: space-around;
width: 375px;
height: 76px;
left: 0px;
top: 0px;
}
.item-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);
  border-radius: 8px;
  margin: 5px;
}
.ingredients-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 60px;
  margin-top: 80px;
}
.header-button {
  background: #D60000;
  border: none;
  margin-right: 5px;
}

.sideScroll {
  display: flex;
  flex-flow: row nowrap;
  height: 230px;
  justify-content: flex-start;
  overflow: auto;
  overflow-x: scroll;
  width: 100vw;
  margin: 0;
}

.details {
  display: flex;
  flex-flow: column;
}
.page-title {
font-family: 'Baloo Thambi 2', cursive;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 58px;
color: #FFFFFF;
text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}
.navbar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  justify-content: center;
}

.navbar-button {
background: #000000;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
border-radius: 2px;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
padding: 3px 7px;
margin:0 2px 6px 2px;
}

.search-input {
margin: auto;
width: 335px;
height: 30px;
left: 80px;
top: 436px;
margin: 5px;
background: white;
border-radius: 8px;
border: none;
}
.search-radio {
font-size: 14px;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 400;
color: white;
margin-left: 10px;
}

.button-tag {
background: white;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 23px;
color: black;
padding: 3px 7px;
margin:0 8px;
}

.icon-button {
  background: rgba(255, 252, 252, 0.85);
  border: none;
  margin-right: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  width: 341px;
  background: rgba(255, 252, 252, 0.85);
  border-radius: 8px;
}

.profile p {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 600;
  font-size: 25px;
}

.profile a {
  text-decoration: none;
  text-align: center;
  height: 35px;
}

.profile button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: none;
  color: white;
  background: #2c29af;
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: bold;
  font-size: 25px;
  margin: 30px;
}

.alert {
  font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #3C3C3C;
text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
margin: 0;
}