body {
  background-color: rgb(242, 242, 242);
}

.container {
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  margin: 0 auto;
	max-width: 420px;
}

.alinhamento-central {
  align-items: center;
  background-image: url('./images/PAODEQUEIJO.png');
	height: 640px;
	justify-content: center;
}

.item {
  display: flex;
	flex: 1;
  font-size: 1.3em;
}

.divButton {
  display: flex ;
  justify-content: space-between;
  margin: 5px;
  width: 100%;
}

.cardContainer {
  border: 1px solid #ccc;
  border-radius: 5%;
  display: flex;
  margin: 2px;
  max-width: 300px;
}

.itemCard {
  border-radius: 3rem;
  font-size: 1.2em;
  max-width: 165px;
	text-align: center;
  word-wrap: break-word;
}

.text-img {
color:rgb(80, 80, 80);
}

.itemImage {
  max-width: 165px;
}


.foodorDrinkContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.header {
  align-items: center;
  background-color: rgb(215, 196, 145);
  color: rgb(80, 80, 80);
  display: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}
.profileButtons {
  display: flex;
  justify-content: space-around;
}
.footer {
  align-items: center;
  background-color: rgba(215, 196, 145);
  display: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.divButtons {
 display: inline-block;
 margin: 2px;
}

.buttonCategories {
  box-shadow: 2px 2px 2px 2px rgb(153, 153, 153);
  flex-grow: 4;
  margin: 2px;
  width: 170px;
}

.datailsImage {
  border: 1px solid #ccc;
  border-radius: 1%;
  box-shadow: 10px 5px 5px rgb(153, 153, 153);
  max-width: 100%;
}

.ingredientsList {
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgb(153, 153, 153);
  margin-top: 15px;
  max-width: 90%;
}

.iconsAndTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.recipesMadeButtons {
  display: flex;
  justify-content: center;
}

.emailProfile {
  display: flex;
  justify-content: center;
}
