/* Resolução do avaliador: 360px W x 640px H */

body {
  background-color: black;
  color: white;
  font-size: 16px;
  margin: auto;
  max-width: 360px;
}

.header {
  background-color: #ff6a28;
  color: white;
  display: flex;
  height: 75px;
  justify-content: space-between;
  min-width: 360px;
  position: fixed;
}

.header img {
  padding-top: 10px;
}

.header h1 {
  display: flex;
  font-size: 1.5em;
  margin-top: -5px;
  padding-top: -10px;
  text-align: center;
}

.header-profile {
  padding: 0 6px 1px;
}

.search-button-header {
  background-color: transparent;
  padding-top: 0;
}

.search-bar {
  align-items: center;
  background-color: white;
  color: #ff6a28;
  flex-direction: column;
  font-weight: 600;
  height: 105px;
  justify-content: space-between;
  padding: 80px 0 0;
}

.search-bar img {
  justify-content: center;
}

.search-bar-input input {
  border: 1px solid rgb(247, 131, 36);
  border-radius: 15px;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: 0 0 0 5px;
  padding: 8px 10px;
  width: 327px;
}

.search-bar-radio {
  align-items: center;
  justify-content: center;
}

.search-bar-radio label {
  display: inline-block;
  justify-content: space-around;
}

.search-bar-radio input {
  display: inline-block;
  justify-content: space-between;
  margin: 10px;
}

.search-bar button {
  background-image: linear-gradient(to right, #ee5a1a 0%, #ff6a28  51%, #df4807  100%);
  background-size: 200% auto;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  margin: auto;
  padding: 8px 10px;
  text-align: center;
  transition: 0.5s;
}

.footer {
  align-items: center;
  background-color: #ff6a28;
  bottom: 0;
  display: flex;
  height: 55px;
  justify-content: space-between;
  margin-top: 5px;
  min-width: 360px;
  position: fixed;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.footer img {
  padding: 5px;
}

a {
  color: rgb(184, 67, 0);
}

a:link {
  text-decoration: none;
}

a:visited {
  color: rgb(161, 77, 8);
}

.logo-flat {
  background-color: #ff6a28;
  display: flex;
  padding: -10px;
}

.logo-flat img {
  padding: -10px;
  width: 130px;
}

.categories-buttons {
  background-color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 75px;
}

.categories-buttons button {
  background-image: linear-gradient(to right, #ff4100 0%, #d4480d  51%, #c0440f  100%);
  background-size: 200% auto;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  justify-content: center;
  margin: 4px 6px;
  padding: 8px;
  text-align: center;
  transition: 0.5s;
}
