@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0;
  padding: 0;
}

.container-over {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.container-int {
  height: 100vh;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

.header {
  background-color: #f8f8f8;
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  width: 100%;
}

.title-header {
  font-weight: 700;
  color: #FDCBB4 ;
  font-family: 'Fredoka One', cursive;
}
.user {
  font-size: 10pt;
  text-align: center;
}

@media only screen and (max-width: 380px) {
  .container-fluid {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    border:1px solid green
  }

  .container {
    height: 100vh;
    width: 100%;
    border:1px solid red;
  }

  .header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
  }

  .title-header {
    font-weight: 700;
    font-size: 14pt;
    color: #f7a782 ;
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    margin-right:10px;
  }
}

@media only screen and (max-width: 1120px) {
  .container {
    height: 100vh;
    max-width: 1000px;
  }

  .header {
    display: flex;
    justify-content: space-around;
  }
}