#root {
  font-size: 62.5%;
}
.app {
  align-items: center;
  background-color: rgb(238, 203, 138);
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

/* Login */
#loginElements {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  min-height: 100vh;
}

#loginElements div {
  align-items: center;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, .3);
  border-radius: 14px;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 2%;
  width: 40%;
}

#loginElements div img {
  height: 80%;
  width: 80%;
}

#form-login {
  align-items: center;
  flex-direction: column;
  display: flex;
}

#form-login input {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  font-size: 1.2rem;
  height: 80%;
  margin-bottom: 4%;
  padding: 4%;
  width: 90%;
}

#form-login a {
  display: flex;
  justify-content: center;
}

#form-login a button {
  background-color: rgb(224, 129, 40);
  border: 1px;
  color: white;
  font-size: 1.2rem;
  padding:  4% 20% 4% 20%;
}

#form-login a {
  height: 20%;
  width: 40%;
}

/* Main Recipes */
#foodElements {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 8rem 0
}

header div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h2 {
  background-color: black;
  color: white;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
}

header button {
  border: 1px;
}

header button img, header a img {
  height: 60%;
  padding: 6px 12px 6px 12px;
  width: 100%;
}

#filterButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

#filterButtons button {
  background-color: rgb(224, 129, 40);
  border: 1px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1rem 1rem 1rem 1rem;
  min-width: 8rem;
  padding: 0.6% 2% 0.6% 2%;
}

#foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
}

#foods a div {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#foods a div img {
  border-radius: 20px 20px 0 0;
  width: 15rem;
}

#foods a div div p {
  color:orange;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 10px;
}

#foods a {
  border-radius: 20px;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  margin: 20px;
}

/* Main recipes > Header search bar */
#headerSearchBar {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 20px;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  margin: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}

#headerSearchBar #searchInput {
  padding: 1%;
  width: 80%;
}

#headerSearchBar button {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  margin-top: 0.4rem;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
}

#headerSearchBar div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#headerSearchBar div label {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.5rem;
}

#headerSearchBar div label input{
  margin-right: 0.4rem;
}

@media only screen and (max-width: 425px) {
  #headerSearchBar div label {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 2.6rem 0 2.6rem;
  }

  #headerSearchBar div label input {
    background-color: green;
  }


  #headerSearchBar div {
    align-items: center;
    display: inline;
    margin: 0.5rem 0 0.5rem 0;;
  }
}

/* Recipes details */
.main_recipe {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.main_recipe button img{
  height: 1.75rem;
  width: 1.75rem;
}

#interation-buttons button {
  height: 2rem;
  width: 2rem;
}

#interation-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2rem 0;
}

#ingredients {
  align-items: center;
  flex-direction: column;
  display: flex;
}

#ingredients div {
  align-items: center;
  flex-direction: column;
  display: flex;
}

#ingredients div span {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  margin-top: 0;
}

#ingredients div span p {
  margin: 0px;
}

#measure {
  color: rgb(90, 88, 88);
  font-size: 1.3rem;
  font-style: italic;
}
