#root {
  font-size: 62.5%;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: rgb(238, 203, 138);
  min-height: 100vh;
}

/* Login */
#loginElements {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#loginElements div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: 1.5px solid rgba(0, 0, 0, .3);
  border-radius: 14px;
  height: 80%;
  width: 40%;
  background-color: white;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

#loginElements div img {
  width: 60%;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-login input {
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 4%;
  border-radius: 10px;
  margin-bottom: 4%;
  height: 80%;
  width: 90%;
}

#form-login a {
  display: flex;
  justify-content: center;
}

#form-login a button {
  font-size: 1.2rem;
  padding:  4% 20% 4% 20%;
  background-color: rgb(224, 129, 40);
  color: white;
  border: 1px;
}

#form-login a {
  width: 40%;
  height: 20%;
}

@media only screen and (max-width: 680px) {
  #loginElements div img {
    width: 100%;
  }
}

/* Main Recipes */
#foodElements, #drinkElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 8rem 0
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
}

header button {
  background: none;
  border: 1px;
}

header button img, header a img {
  height: 60%;
  width: 100%;
  padding: 6px 12px 6px 12px;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.filterButtons button {
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgb(224, 129, 40);
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border: 1px;
  padding: 0.6% 2% 0.6% 2%;
  min-width: 8rem;
}

#foods, #drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
}

#foodImg, #drinkImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 15rem;
  border-radius: 20px 20px 0 0;
}

#foods a, #drinks a {
  border-radius: 20px;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  margin: 20px;
  background-color: white;
  text-decoration: none; 
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div p {
  text-align: center;
  max-width: 14rem;
  font-weight: 500;
  color:black;
  font-size: 1.4rem;
}

.div p:hover {
  color: rgb(224, 129, 40);
}

/* Main recipes > Header search bar */
#headerSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 20px;
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem;
  background-color: white;
  font-size: 1.2rem;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

#headerSearchBar #searchInput {
  padding: 1%;
  width: 80%;
}

#headerSearchBar button {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  border: none;
  border-radius: 20px;
  margin-top: 0.4rem;
  font-weight: 500;
}

#headerSearchBar div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#headerSearchBar div label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0.5rem;
}

#headerSearchBar div label input{
  margin-right: 0.4rem;
}

@media only screen and (max-width: 425px) {
  #headerSearchBar div label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 2.6rem 0 2.6rem;
  }

  #headerSearchBar div {
    display: inline;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;;
  }
}

/* Recipes details */
.main_recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.main_recipe a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_recipe a button {
  font-size: 1.6rem;
  background-color: rgb(224, 129, 40);
  color: white;
  font-weight: 500;
  border: 1px;
}

.main_recipe button img{
  width: 1.75rem;
  height: 1.75rem;
}

.main_recipe img {
  border-radius: 20px;
  /* background-color: white; */
  padding: 0.4rem 0;
  width: 20rem;
}

.initial-informations {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0 2.5rem 0;
  /* background-color: white;
  padding: 1rem; */
  /* border-radius: 20px; */
}

.interation-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interation-buttons button {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
}

.measure {
  color: rgb(90, 88, 88);
  font-style: italic;
  margin-left: 0.6rem;
}

.prepare {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.prepare p {
  width: 80%;
}

@media only screen and (max-width: 325px) {
  .main_recipe img {
    width: 90%;
  }
}

/* Profiles */
.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerProfile div {
  text-align: center;
  margin-bottom: 1rem;
}

#headerProfile {
  width: 10rem;
}

.profiles div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiles div div a button {
  margin: 0.2rem 1rem;
  background-color: rgb(224, 129, 40);
  color: white;
  font-size: 1.4rem;
  border: 1px;
}

.profile-buttons button {
  margin: 0.2rem 1rem;
  background-color: rgb(224, 129, 40);
  color: white;
  font-size: 1.4rem;
  border: 1px;
}

.profiles div section p {
  border-radius: 20px;
  padding: 0.6rem;
  background-color: white;
}

/* Favorite Recipe Card */
.favoriteCard {
  margin: 2rem 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

.favoriteCard div img {
  border-radius: 20px 20px 0 0;
  width: 20rem;
}

.favoriteCard a div .div {
  margin: 0;
}

#infos-recipe {
  margin: 1rem;
}

#infos-recipe a div p:hover {
  text-decoration: none;
  color: rgb(224, 129, 40);
}

#infos-recipe a div p {
  background-color: black;
  color:white;
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
}

@media only screen and (max-width: 415px) {
  .favoriteCard div img {
    border-radius: 20px 20px 0 0;
    width: 16rem;
  }
}

/* Explorar por ingredientes */
#explorer-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredient-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  margin: 0 2rem 6rem 2rem;
}

#ingredient-cards button {
  border: 1px;
  background-color: white;
  margin: 1rem;
  border-radius: 20px;
  padding: 0.6rem;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
}

/* Explorar origem */
#explorer-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#foods-found {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

#foods-found a {
  border: 1px;
  background-color: white;
  margin: 1rem;
  box-shadow: 0.6rem 0.6rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: black;
}

#foods-found a .div p:hover {
  text-decoration: none;
  color: rgb(224, 129, 40);
}