.button {
    bottom: 0;
    position: fixed;
  }

.favorite {
  background-image: 'https://www.flaticon.com/svg/vstatic/svg/860/860808.svg?token=exp=1612136050~hmac=c7574c29cd2e9f4f0d37843011e5cb10';
}
  